.navbar {
    background: rgb(169, 228, 228);
    display: flex;
    justify-content: space-between;
}

.navbar__left {
    display: flex;
}

.navbar__logo {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin-left: 20px;
}

.navbar__title {
    font-family: Brush Script MT;
    padding: 20px;
    font-size: 30px;
    font-weight: 100;
    color:rgb(0, 77, 23);
}

.navbar__search {
    padding: 20px;
    left: -30px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.navbar__searchBar {
    padding: 15px;
    width: 400px;
    height: 10px;
    outline: none;
    border: none;
    border-radius: 10px 0px 0px 10px;
}

.navbar__searchButton {
    height: 40px;
    width: 50px;
    border-radius: 0px 10px 10px 0px;
    outline: none;
    border: none;
    background:rgb(168, 216, 146);
    cursor: pointer;
    padding-right: 30px;
    display: flex;
    align-items: center;
}

.navbar__searchIcon {
    left: 5px;
    position: relative;
}

.navbar__icons {
    padding: 20px;
    height: 50px;
    display: flex;
}

.navbar__twitter {
    position: relative;
    right: 15px;
    cursor: pointer;
}

.navbar__instagram {
    cursor: pointer;
}

