.navbar {
    background: rgb(169, 228, 228);
    display: flex;
    justify-content: space-between;
}

.navbar__left {
    display: flex;
}

.navbar__logo {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin-left: 20px;
}

.navbar__title {
    font-family: Brush Script MT;
    padding: 20px;
    font-size: 30px;
    font-weight: 100;
    color:rgb(0, 77, 23);
}

.navbar__search {
    padding: 20px;
    top: 5px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.navbar__searchBar {
    padding: 10px;
    width: 400px;
    height: 10px;
    outline: none;
    border: none;
    border-radius: 10px 0px 0px 10px;
}

.navbar__searchButton {
    height: 30px;
    width: 30px;
    border-radius: 0px 10px 10px 0px;
    outline: none;
    border: none;
    background:rgb(27, 18, 2);
    cursor: pointer;
    padding-right: 30px;

}

.navbar__createPostButton {
    margin-right: 200px;
    background-color: white;
    color:rgb(19, 119, 119);
    border:none;
    outline: none;
    border-radius: 25px;
    font-size: 17px;
    width: 200px;
    height: 30px;
    top: 20px;
    right: 20px;
    position: relative;
    font-weight: 700;
}

.navbar__createPostButtonModified {
    margin-right: 200px;
    background-color: rgb(19, 119, 119);;
    color:white;
    border:none;
    outline: none;
    border-radius: 25px;
    padding: 25px;
    height: 100%;
    width: 200px;
    top: 20px;
    right: 20px;
    position: relative;
    font-weight: 700;
}

.navbar__createPostButton:hover {
    background-color: rgb(19, 119, 119);
    color: white;
    cursor: pointer;
}